<!DOCTYPE html>
<html>
<head>
  <title>Rails api guard</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "rails_api_guard/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
